<link rel="stylesheet" href="/css/courses.css">
<h1>Courses</h1>

<div class="card container mt-3">
    <form>
        <fieldset>
            <legend>Add Course</legend>

            <div class="m-3">
                <label>Course Name</label>
                <input type="text" class="form-control" id="name" maxlength="255">
            </div>

            <div class="m-3">
                <label>Units</label>
                <input type="number" class="form-control" id="units" min="0">
            </div>

            <div class="m-3">
                <label>Department</label>
                <input list="departments" class="form-control" id="department">
                <datalist id="departments">
                {{#each results}}
                    <option value="{{department_code}}">{{name}}</option>
                {{/each}}
                </datalist>
            </div>

            <div class="m-3">
                <label>Instructor</label>
                <input list="instructors" class="form-control" id="instructor">
                <datalist id="instructors">
                {{#each instructors}}
                    <option value="{{instructor_id}}">{{first_name}} {{last_name}}</option>
                {{/each}}
                </datalist>
            </div>

            <input type="submit" class="btn btn-primary m-3" id="postSubmit" value="Add">
        </fieldset>
    </form>
</div>

<div id="table" class="card container mt-3 mb-3">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Units</th>
                <th>Department</th>
                <th>Instructor</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script src="/js/courses.js"></script>