<link rel="stylesheet" href="/css/students.css">
<h1>Students</h1>

<div class="card container mt-3">
    <form>
        <fieldset>
            <legend>Add Student</legend>


            <div class="m-3">
                <label>First Name:</label>
                <input type="text" class="form-control" id="fname" maxlength="255">
            </div>

            <div class="m-3">
                <label>Last Name:</label>
                <input type="text" class="form-control" id="lname" maxlength="255">
            </div>

            <div class="m-3">
                <label>Expected graduation date</label>
                <input type="date" class="form-control" id="egdate">
            </div>

            <div class="m-3">
                <label>Units in progress:</label>
                <input type="number" class="form-control" id="unitsProgress" min="0">
            </div>

            <div class="m-3">
                <label>Units Completed</label>
                <input type="number" class="form-control" id="unitsCompleted" min="0">
            </div>

            <div class="m-3">
                <label>Department</label>
                <input list="departments" class="form-control" id="department">
                <datalist class="departments" id="departments">
                {{#each results}}
                    <option value="{{department_code}}">{{name}}</option>
                {{/each}}
                    <option value="NULL">None</option>
                </datalist>
            </div>

            <div class="m-3">
                <label>Major</label>
                <input type="text" class="form-control" id="major" maxlength="255">
            </div>

            <input type="submit" class="btn btn-primary m-3" id="postSubmit" value="Add">
        </fieldset>
    </form>
</div>

<p>{{context}}</p>

<div class="card container mt-3">
    <form>
        <fieldset>
            <legend>Search Students</legend>

            <div class="m-3">
            <label>First Name:</label>
            <input type="text" class="form-control" id="fnameSearch" maxlength="255">
            </div>

            <div class="m-3">
            <label>Last Name:</label>
            <input type="text" class="form-control" id="lnameSearch" maxlength="255">
            </div>

            <div class="m-3">
            <label>Department</label>
            <input list="departments" class="form-control" id="departmentSearch">
            <datalist class="departments" id="departments">
            {{#each results}}
                <option value="{{department_code}}">{{name}}</option>
            {{/each}}
                <option value=NULL>None</option>
            </datalist>
            </div>

            <div class="m-3">
            <label>Major</label>
            <input type="text" class="form-control" id="majorSearch" maxlength="255">
            </div>

            <input type="submit" class="btn btn-primary m-3" id="postSearch" value="Search">
        </fieldset>
    </form>
</div>

<div id="table" class="card container mt-3 mb-3">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Major</th>
                <th>Department</th>
                <th>Units In Progress</th>
                <th>Units completed</th>
                <th>Expected Graduation Date</th>
            </tr>
        </thead>
    </table>
</div>

<script src="/js/students.js"></script>