<link rel="stylesheet" href="/css/students_courses.css">
<h1>Students and Courses</h1>

<div class="card container mt-3">
    <form>
        <fieldset>
            <legend>Connect a Student with a Course</legend>

            <div class="m-3">
                <label class="form-label">Student ID</label>
                <input list="students" class="form-control" id="sid">
                <datalist class="students" id="students">
                {{#each students}}
                    <option value="{{student_id}}">{{first_name}} {{last_name}}</option>
                {{/each}}
                </datalist>
            </div>

            <div class="m-3">
                <label>Course ID</label>
                <input list="courses" class="form-control" id="cid">
                <datalist class="courses" id="courses">
                {{#each courses}}
                    <option value="{{course_id}}">{{name}}</option>
                {{/each}}
                </datalist>
            </div>

            <input type="submit" id="postSubmit" class="btn btn-primary m-3" value="Connect">
        </fieldset>
    </form>
</div>

<div id="table" class="card container mt-3 mb-3">
    <table class="table">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Course ID</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script src="/js/students_courses.js"></script>